<%if user_signed_in? %>
  <nav >
  <%= link_to root_path do %>
    <div >
      <h1>My Recipe App</h1>
    </div>
  <%end%>
  <div>
    <%= link_to "View Foods", user_foods_path(@user) %>
    <%= link_to "View All Recipes", user_recipes_path(@user) %>
    <%= link_to "View Public Recipe", root_path %>
    <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
  </div>
  </nav>
  <h3><%= current_user.name %> </h3>
  <%else%>
  <nav>
     <h1>My Recipe App</h1>
  </nav>
<%end%>